.dashboard-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bee;
}

.dashboard-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.greeting {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.user-info {
    text-align: left;
    margin-bottom: 20px;
}

.user-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.user-info p {
    font-size: 16px;
    margin: 5px 0;
}

.logout-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #0056b3;
}
